<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Panel</title>
</head>

<body>
    <div id="time"></div>
    <button onclick="countdown()">Ready</button>
    <h1>Welcome Teacher</h1>
    <% students.forEach(student=> { %>
        <ul>
            <%= student %>
        </ul>
        <% }) %>
</body>

<script>
    function countdown() {
        let time = 5;
        const interval = setInterval(() => {
            console.log(time);
            document.getElementById('time').innerText = time;
            time--;
            if (time <= 0) {
                clearInterval(interval);
                window.location.href = '/quiz';
            }
        }, 1000);
    };
</script>

</html>